.header {
  display: flex;
  justify-content: center;
  padding: 34px 0;
}

.header__logo {
  width: 254px;
  height: 70px;
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 254px;
    height: 66px;
  }
}

@media screen and (max-width: 544px) {
  .header__logo {
    width: 188px;
    height: 52px;
  }
}
