.intro {
  font-family: "Inter";
  padding: 46px 0 46px;
  margin: 0 auto;
  max-width: 984px;
}

.intro__title {
  max-width: 830px;
  margin: 0 0 40px;
  font-size: 54px;
  font-weight: 900px;
  line-height: 58px;
}

.intro__subtitle {
  max-width: 738px;
  font-size: 24px;
  line-height: 34px;
  margin: 40px 0 0;
}

.intro__author {
  max-width: 725px;
  font-size: 24px;
  line-height: 34px;
  text-align: right;
  margin: 10px 0;
}

.intro__text {
  max-width: 715px;
  font-size: 16px;
  line-height: 26px;
  margin: 32px 0 0;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 0;
    max-width: 720px;
  }

  .intro__title {
    font-size: 45px;
    line-height: 49px;
  }

  .intro__subtitle {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text {
    font-size: 16.1px;
    line-height: 163%;
  }
}

@media screen and (max-width: 544px) {
  .intro {
    padding: 0;
    max-width: 288px;
    max-height: 878px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .intro__subtitle {
    font-size: 24px;
    line-height: 30px;
  }

  .intro__author {
    font-size: 24px;
    line-height: 34px;
  }

  .intro__text {
    font-size: 16.1px;
    line-height: 163%;
  }
}
