.lead {
  font-family: "Inter";
  padding: 90px 0 92px;
  margin: 0 auto;
  max-width: 984px;
}

.lead__title {
  max-width: 85%;
  text-align: center;
  font-size: 95px;
  line-height: 100px;
  font-weight: 900;
  margin: 0 auto;
}

.lead__subtitle {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  padding: 0 24px;
  margin: 32px auto 64px;
  max-width: 720;
}

.lead__image {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  display: block;
}

@media screen and (max-width: 544px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
  }
}

@media screen and (max-width: 544px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
  }
}
